.eutinic {
	float: left;
	margin: 0 20px 20px 0;
	width: 200px;
}

.eu {
	float: right;
	margin: 0 20px 20px 0;
	width: 200px;
}

.principal {
	background: #fefefe;
	padding: 1em 0;
}

.principal a {
	color: rgb(0, 0, 0);
	font-weight: 200;
    padding-left: 10px;
	text-shadow: #1b1b1b 2.5px 2px 2px;
}

.principal article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.segundo-principal {
	background: linear-gradient(#fefefe, #888888);
}

.terceiro-principal {
	background: #888888;
	padding: 3em 0;
}

.terceiro-principal article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.lista {
	display: inline-block;
	width: 50%;
	text-align: justify;
	vertical-align: top;
}
.sub-lista {
	padding-left: 40px;
	width: 370px;
}

.redes {
	border-radius: 50%;
	height: 200px;
	padding: 0 50px;
}

.itens {
	line-height: 1.5;
}

.itens:before {
	content: '★';
}

.sub-itens:before {
	content: '☆';
}
