body {
    background-color: rgb(227, 229, 227);
    font-family: Raleway, sans-serif;
  }
  
  .font{
    font-family: VT323, monospace;
  }
  
  .cabecalho {
    background-color: rgba(18, 85, 198, 0.8);
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
  }
  
  .titulo-principal {
    color: rgb(227, 229, 227);
    font-size: 5em;
    padding-left: 5%;
    text-shadow: #000000 3px 4px 2px;
  }
  
  .nav-bar {
    margin-top: 25px;
    padding-right: 20px;
  }
  
  .nav-bar li{
    display: inline;
    font-size: 2em;
    margin-left: 18px;
  }
  
  .nav-bar a{
    color: rgb(227, 229, 227);
    font-weight: 200;
    text-decoration: none;
    text-shadow: #000000 3px 4px 2px;
  }
  
  main {
    padding-top: 80px;
  }
  
  section{
    border-bottom: 2px solid black;
  }
  
  footer {
    background-image: url(../images//bg1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .copy {
    color: #ffffff;
    font-size: 13px;
  }